# Mac
.DS_Store

# Node.js
node_modules
dist

# Editor
.idea

# Logs
*.log
*.logs

# Env
.env
.env.*.local

# Miniprogram
miniprogram_npm/
client/**/*.js
private.*.key
project.private.config.json
upload-result.json
